.ContactsSection {
    width: 100vw;
    height: 93.6vh;
    display: flex;
    flex-direction: column;
    font-family: Rajdhani-Regular;
    background-color: rgb(76, 85, 85);
}

#ListGroup {
    height: 50vh;
    overflow-y: scroll;
}

#ContactsHeader {
    color: white;
    margin: 10px 0 10px 10px;
    background-color: rgb(76, 85, 85);
}

#NewContactModal,
#SendMessageModal {
    font-family: Rajdhani-Regular;
}